<%- include('header'); %>
    <div class="message-container">
        <% messages.forEach((message)=> { %>
            <%- include('message', {message: message}); %>
                <% }); %>
    </div>
    <%- include('footer'); %>