<%- include('header'); %>
    <div class="message-container">
        <% messages.forEach((message)=> { %>
            <%- include('./messages/message', {message: message}); %>
                <% }); %>
    </div>
    <a href="/new"><button class="new-message">
            <p>...</p>
        </button></a>
    <%- include('footer'); %>