<%- include('../header'); %>
    <div class="message-container">
        <%- include('message', {message: message}); %>
    </div>
    <a href="/"><button class="new-message">
            <p>Home</p>
        </button></a>
    <%- include('../footer'); %>